.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 6rem auto;
    height: 500px;
    gap: 0;
    font-size: 2em;
    text-align: left;
}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #0ef;
}